/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd party */
@import './3rd-party/font-awesome.min.css';

/* components */
@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';
@import './components/socials.css';
@import './components/toast.css';

/* sitas importas del to mygtuko back to top */

/* CUSTOM STYLE BELOW THIS COMMENT */

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

/* HERO SECTION */
.container.hero {
  padding-bottom: 25px;
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
.hero > .row-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.logo {
  height: 40px;
  width: 200px;
  object-fit: contain;
  object-position: center;
}
.main-title {
  text-transform: uppercase;
  font-size: 70px;
  color: var(--color-dark);
}
.main-description {
  font-size: 20px;
  color: var(--color-grey);
}
.hero form > input {
  color: var(--color-light);
  background-color: transparent;
  border-bottom-color: var(--color-light);
}
.hero form ::placeholder {
  color: var(--color-light);
}
/* MAIN CONTENT SECTION */

main > .row-big > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-title {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}
.section-description {
  font-size: 18px;
  color: var(--color-grey);
  line-height: 1.7em;
}
.section-description > a {
  color: var(--color-secondary);
  text-decoration: none;
}
.section-description > a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

ul > li::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background-color: none;
  background-image: url(../img/check.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
main form > button {
  float: right;
}

@media (min-width: 1100px) {
  main form > input {
    width: 45%;
  }
  main form > input:nth-of-type(2) {
    float: right;
  }
}

/* FOOTER SECTION */
footer.container {
  padding-top: 0;
}

/* .socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  border-bottom: 1px solid #fff3;
}
.socials > .fa {
  color: var(--color-light);
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
}
.socials > .fa:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
} */

.back-to-top {
  position: absolute;
  top: -25px;
  right: -14px;
}
@media (max-width: 680px) {
  .back-to-top {
    display: none;
  }
}
.bottom-texts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.row-small > .logoMatrox {
  height: 80px;
  width: 400px;
  object-fit: contain;
  object-position: center;
}

.container > .bottom-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #fff8;
}
.container > .bottom-links a {
  text-decoration: none;
  color: #fff;
}
.footer > .bottom-description {
  align-items: center;
}
.bottom-description {
  text-align: center;
  color: #fff8;
}
.bottom-links > div {
  position: relative;
}
.bottom-links > div::before {
  display: inline-block;
  content: '';
  height: 15px;
  width: 2px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff3;
}

.bottom-links > div:first-of-type::before {
  display: none;
}
