.btn {
  display: inline-block;
  font-size: 20px;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  margin-top: 28px;
  line-height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #ea1e63;
  color: var(--color-light);
  cursor: pointer;
  box-shadow: 0 2px 8px #0002;
}

.btn:hover {
  box-shadow: 0 2px 8px #0007;
}

.btn-round {
  display: inline-block;
  width: 44px;
  padding: 10px;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 8px #0002;
  transition: all 0.5s;
}
